table {
    width: 85%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td.mat-cell {
    text-align: left;
}

.app-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-form-field {
    width: 85% !important;
}

#message {
    display: flex;
}

#level {
    display: flex;
}

#level>select {
    margin-left: 1.8rem;
}